{% extends 'annonces/provider/main.html' %}
{% load static %}
{% load i18n %}
{% block title %}{% trans 'Booking list' %}{% endblock %}
{% block content %}
    <div class="row align-items-center mb-4">
        <div class="col">
            <h4 class="widget-title mb-0">Booking List</h4>
        </div>
        <div class="col-auto">
            <div class="sort-by">
                <select class="form-control-sm custom-select searchFilter" id="status">
                    <option>{% trans 'All' %}</option>
                    <option>{% trans 'Pending' %}</option>
                    <option>{% trans 'Inprogress' %}</option>
                    <option>{% trans 'Complete Request' %}</option>
                    <option>{% trans 'Rejected' %}</option>
                    <option>{% trans 'Cancelled' %}</option>
                    <option>{% trans 'Completed' %}</option>
                </select>
            </div>
        </div>
    </div>
    <div id="datalist">
        <div class="bookings">
            <div class="booking-list">
                <div class="booking-widget">
                    <a href="service-details.html" class="booking-img">
                        <img src="assets/img/services/service-02.jpg" alt="User Image">
                    </a>
                    <div class="booking-det-info">
                        <h3>
                            <a href="service-details.html">Car Repair Services</a>
                        </h3>
                        <ul class="booking-details">
                            <li>
                                <span>Booking Date</span> 23 Jul 2020 <span class="badge badge-pill badge-prof bg-success">Complete Request sent to User</span>
                            </li>
                            <li><span>Booking time</span> 13:00:00 - 14:00:00</li>
                            <li><span>Amount</span> $500</li>
                            <li><span>Location</span> 223 Jehovah Drive Roanoke</li>
                            <li><span>Phone</span> 410-242-3850</li>
                            <li>
                                <span>User</span>
                                <div class="avatar avatar-xs mr-1">
                                    <img class="avatar-img rounded-circle" alt="User Image" src="assets/img/customer/user-01.jpg">
                                </div>
                                Jeffrey Akridge
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="booking-action"></div>
            </div>
        </div>
    </div>
{% endblock %}