{% load static %}
{% load i18n %}
{% load flags %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CamerounBusiness | Home</title>
  <meta content="camer business" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static '/assets/img/favicon.png' %}" rel="icon">
  <link href="{% static '/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/icofont/icofont.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/owl.carousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
  <link href="{% static '/assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <!-- Select2 -->
  <link rel="stylesheet" href="{% static '/admin/plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}">
  <!-- Template Main CSS File -->
  <link href="{% static '/assets/css/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static '/assets/css/index.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" integrity="sha512-aOG0c6nPNzGk+5zjwyJaoRUgCdOrfSDhmMID2u4+OIslr0GjpLKo7Xm0Ao3xmpM4T8AmIouRkqwj1nrdVsLKEQ==" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" integrity="sha512-ARJR74swou2y0Q2V9k0GbzQ/5vJ2RBSoCWokg4zkfM29Fb3vZEQyv0iWBMW/yvKgyHSR/7D64pFMmU8nYmbRkg==" crossorigin="anonymous" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" />
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container d-flex align-items-center">

      <h1 class="logo mr-auto" style="font-weight: bold"><a href="{% url 'home' %}">CamerBusiness</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
<!--          <li><a href="{% url 'annonces' %}">{% trans 'Announces' %}</a></li>-->
<!--          <li><a href="{% url 'products' %}">{% trans 'Products' %}</a></li>-->
          <li><a href="{% url 'contact' %}">{% trans 'Contact' %}</a></li>
          <li><a href="{% url 'about' %}">{% trans 'About' %}</a></li>
          {% if user.is_authenticated %}
          <li><a href="{% url 'dashboard' %}">{% trans 'Dashboard' %}</a></li>
          {% else %}
          <li><a href="{%  url 'login' %}">{% trans 'Login' %}</a></li>
          {% endif %}
          <li class="drop-down"><a href="">{% trans 'Language' %}</a>
            <ul>
              {% languages 'square' %}
              <!--<li><a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"><img src="{% static '/assets/img/france_flag.ico' %}" alt="" width="28" height="28"></a></li>

              <li><a href="#"><img src="{% static '/assets/img/uk.svg' %}" alt="" width="28" height="28"></a></li>-->
            </ul>
          </li>

        </ul>
      </nav><!-- .nav-menu -->

      <a href="{% url 'create_announce' %}" class="get-started-btn scrollto" style="font-weight: bold;">
        <i class="icofont-plus-square btn-lg"></i>{% trans 'Make a post' %}
      </a>

    </div>
  </header><!-- End Header -->

    <!-- ======= Testimonials Section ======= -->
    <section id="" class="testimonials">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-10 mx-auto p-2 r-4">
            <div class="card shadow-lg p-4 mb-5 bg-white">
              <div class="card-body">
                <form method="post" action="{% url 'search' %}">
                  {% csrf_token %}

                  <div class="form-row">
                    <div class="col-auto">
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="icofont-listine-dots"></i></div>
                        </div>
                        <select name="category" class="form-control show-tick" data-live-search="true" required>
                          <option value="" selected disabled>{% trans 'Categories' %}</option>
                          {% for category in categories %}
                          <option value="{{ category.id }}">{{ category.category_name }}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="col-auto">
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="icofont-search"></i></div>
                        </div>
                        <input type="text" class="form-control" required id="item" name="item" placeholder="{% trans 'What are you looking ?' %}">
                      </div>
                    </div>

                    <div class="col-auto">
                      <div class="input-group mb-2">
                        <div class="input-group-prepend">
                          <div class="input-group-text"><i class="icofont-location-pin"></i></div>
                        </div>
                        <select name="town" id="town" class="form-control" required>
                          <option value="" selected disabled>{% trans 'Select a town' %}</option>
                          {% for ville in villes %}
                          <option value="{{ ville.id }}">{{ ville.name}}</option>
                          {% endfor %}
                        </select>
                      </div>
                    </div>

                    <div class="col-auto">
                      <button type="submit" class="btn btn-primary" style="font-weight: bold;">{% trans 'Search' %}</button>
                    </div>
                  </div>
                </form>
              </div>
          </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-3"></div>
          <div class="col-lg-12 col-md-10 col-sm-8 col-xs-6">
            <div class="section-title">
            <h2>{% trans 'TOP CATEGORIES' %}</h2>
            </div>
            <div class="MultiCarousel" data-items="1,3,5,6" data-slide="1" id="MultiCarousel"  data-interval="1000">
                <div class="MultiCarousel-inner">
                    {% for category in categories %}
                  <div class="item" style="background: url('{{ category.category_image.url }}')">
                      <div class="pad15">
                        <a href="{% url 'search_by_category' category.id %}">
                          <img src="{{ category.category_picture.url }}" alt="{{ category.category_name }}" class="d-block w-100">
                          <p style="color: #124265; font-weight: bold;"><b>{{ category.category_name }}</b></p>
                        </a>
                      </div>
                  </div>
                  {% endfor %}
                </div>
                <button class="btn btn-primary leftLst"><</button>
                <button class="btn btn-primary rightLst">></button>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->

  <main id="main">
    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% trans 'Testimonials' %}</h2>
          <p>{% trans 'What people said about camerbusiness' %}</p>
        </div>

        <div class="owl-carousel testimonials-carousel">
        {% for testimony in testimonies %}
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              {{ testimony.content }}
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{{ testimony.picture.url }}" class="testimonial-img" alt="{{ testimony.name }}">
            <h3>{{ testimony.name }}</h3>
            <h4>{{ testimony.position }}</h4>
          </div>
        {% endfor %}
        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% trans 'Frequently Asked Questions' %}</h2>
          <p>{% trans 'A list of frequently asked questions and answers.' %}</p>
        </div>

        <div class="faq-list">
          <ul>
            {% for question in questions %}
              <li data-aos="fade-up">
                <i class="bx bx-help-circle icon-help"></i> <a data-toggle="collapse" class="collapse" href="#faq-list-1">{{ question.title }} <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                <div id="faq-list-1" class="collapse show" data-parent=".faq-list">
                  <p>
                    {{ question.content }}
                  </p>
                </div>
              </li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </section><!-- End Frequently Asked Questions Section -->

  </main><!-- End #main -->

<!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
           {% for web in webinfo %}
            <h3>{{ web.webname }}</h3>

            <p>
              {{ web.address }}<br>
              {{ web.town }} <br><br>
              <strong>Phone:</strong> {{ web.phone }}<br>
              <strong>Email:</strong> {{ web.email }}<br>
            </p>
            {% endfor %}
          </div>

          <div class="col-lg-2 col-md-6 footer-links">
            <h4>{% trans 'Useful Links' %}</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'home' %}">{% trans 'home' %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'about' %}">{% trans 'About us' %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'products' %}">{% trans 'Products' %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="{% url 'annonces' %}">{% trans 'Announcements' %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">{% trans 'Privacy policy' %}</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>{% trans 'Our Services' %}</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">{% trans 'Online Support' %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">{% trans 'Announcements' %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">{% trans 'Consulting' %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">{% trans 'Assistance' %}</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#">{% trans 'Online messaging' %}</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-6 footer-newsletter">
            <h4>{% trans 'Join Our Newsletter' %}</h4>
            <p>{% trans 'Fill this form to be notified on our daily news by email' %}</p>

              {% comment %}<form enctype="multipart/form-data" method="post" action="/newsletter/camerbusiness/subscribe/">
                {% csrf_token %}
                <label for="id_email_field">E-mail:</label>
                  <input type="email" name="email_field" required="" id="id_email_field" class="form-control">
                <button id="id_submit" name="submit" value="Subscribe" class="btn btn-primary" type="submit">Subscribe</button>
              </form>{% endcomment %}
            <form action="/newsletter/camerbusiness/subscribe/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="email" name="email_field" required="" id="id_email_field">
              <input type="submit" value="Subscribe" id="id_submit" name="submit">
            </form>

          </div>

        </div>
      </div>
    </div>

    <div class="container d-md-flex py-4">

      <div class="mr-md-auto text-center text-md-left">
        <div class="copyright">
          &copy; Copyright <strong><span>Camerbusiness</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/ -->
          Designed by <a href="http://gainyoconsulting.mooc-hegtd.cm/" target="_blank"> Gainyo Consulting</a>
        </div>
      </div>
      <div class="social-links text-center text-md-right pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
        <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top"><i class="ri-arrow-up-line"></i></a>
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="{% static '/assets/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/jquery.easing/jquery.easing.min.js' %}"></script>
  <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="{% static '/assets/vendor/waypoints/jquery.waypoints.min.js' %}"></script>
  <script src="{% static '/assets/vendor/counterup/counterup.min.js' %}"></script>
  <script src="{% static '/assets/vendor/venobox/venobox.min.js' %}"></script>
  <script src="{% static '/assets/vendor/owl.carousel/owl.carousel.min.js' %}"></script>
  <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/aos/aos.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js" integrity="sha512-yDlE7vpGDP7o2eftkCiPZ+yuUyEcaBwoJoIhdXv71KZWugFqEphIS3PU60lEkFaz8RxaVsMpSvQxMBaKVwA5xg==" crossorigin="anonymous"></script>
  <!-- Template Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>

  <script src="{% static '/assets/js/index.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" integrity="sha512-uto9mlQzrs59VwILcLiRYeLKPPbS/bT71da/OEBYEwcdNUk8jYIy+D176RYoop1Da+f9mvkYrmj5MCLZWEtQuA==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success'%}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
                <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %}
        {% endfor %}
    {% endif %}
  {% block scripts %}
  <script>
    $(function () {
      $("#item").autocomplete({
        source: "{% url 'autocomplete' %}",
        select: function(event, ui) {
          AutoCompleteSelectHandler(event, ui)
        },
        minLength: 2,
      });
    });
    function AutoCompleteSelectHandler(event, ui) {
      var selectedObj = ui.item;
    }
  </script>
  <script>
    $(document).ready(function() {
        $("select[name='category']").check(function() {
            const category_id = $(this).val();
            $.ajax({
                url: '{% url "get_subcategories" %}',
                method: "GET",
                data: {'category_id': category_id},
                success: function(data) {
                    $("select[name='subcategory']").html('');
                    $("select[name='subcategory']").html(data);
                }
            });
        });

    });
  </script>
{% endblock %}

</body>

</html>