{% extends 'annonces/main_bak.html' %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}{% trans 'Login' %} {% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% trans 'Password reset sent' %}</h2>
          <p>{% trans 'We've emailed you.' %}</p>
        </div>

        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-5">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="border-color: blue;">
              <div class="card-body">
                  <form method="post">
                      {{ csrf_token}}
                      {{ form }}
                      <div class="form-group">
                          <input type="submit" value="Update password" class="btn btn-block btn-primary">
                      </div>
                  </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}
