{% extends 'annonces/main_bak.html' %}
{% load widget_tweaks %}
{% load i18n %}
{% load socialaccount %}
{% providers_media_js %}
{% block title %}{% trans 'Login' %} {% endblock %}

{% block content %}

  <main id="main">

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>{% trans 'Password reset' %}</h2>
          <p>Magnam dolores commodi suscipit. Necessitatibus eius consequatur ex aliquid fuga eum quidem. Sit sint consectetur velit. Quisquam quos quisquam cupiditate. Et nemo qui impedit suscipit alias ea. Quia fugiat sit in iste officiis commodi quidem hic quas.</p>
        </div>

        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-5">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded" style="border-color: blue;">
              <div class="card-body">
                <form action="{% url 'reset_password' %}" method="POST">
                  {% csrf_token %}
                  {% for message in messages %}
                    <div class="alert alert-success" role="alert">
                      {{ message }}
                    </div>
                  {% endfor %}
                  <div class="form-group">
                    <input type="email" name="email" class="form-control"  placeholder="email">
                  </div>

                    <div class="form-group">
                        <input type="submit" value="Reset" class="btn btn-success">
                    </div>
                </form>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

{% endblock %}